input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f57700;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #edce07;
    color: #060606;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #68c306;
}
