#linkedin {
    left: 45px;
    position: fixed;
    bottom: 12px;
    right: left;
    width: 45px;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

#instagram {
    left: 85px;
    position: fixed;
    bottom: 6px;
    right: left;
    width: 57px;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

#github {
    left: 135px;
    position: fixed;
    bottom: 6px;
    right: left;
    width: 57px;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

