nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #555;
}

.hamburguer {
    display: block;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-responsive {
    display: none;
    background-color: #444;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
}

.menu-responsive a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.menu-responsive a:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .hamburguer {
        display: block;
    }

    .menu-responsive.show-menu {
        display: block;
    }
}

@media screen and (min-width: 769px) {
    .hamburguer {
        display: none;
    }
}

#menu {
    color: 0;
}

#menu:hover {
    text-shadow: 0 0 0.2em rgb(240, 185, 57), 0 0 0.2em rgb(242, 238, 0)
}