#link1 {
    color: rgb(247, 239, 14);
    width: 300px;
    height: 150px;
}

#link1:hover {
    color: rgb(111, 255, 0);
}

#link2 {
    color: rgb(255, 255, 255);
    width: 300px;
    height: 150px;
}

#link2:hover {
    color: rgb(111, 255, 0);
}

#mostrar{
display: none;
}

#passar_mouse:hover #mostrar{
display:block;
}

#link3 {
    color: rgba(238, 238, 2, 0.907);
}

#link3:hover {
    color: rgb(52, 237, 11);
}